In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 80)

import random

import sys
sys.path.append("../")

from src.object import *
from src.create import *

from config.formation import *

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df_name = pd.read_csv("../data/csv/NationalNames.csv")
df_name_list = list(df_name[df_name.Gender=='M'].Name.sample(500))

In [3]:
df_place = pd.read_csv("../data/csv/results.csv")
df_place = df_place.city.unique()

In [4]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(70, 78)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i], 
             formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L1 = League(name="premia", 
            teams=league_team,
            num=20,
            category='top',
            relegation_num=3)

In [5]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(60, 70)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i+20], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L2 = League(name="championship",
            teams=league_team,
            num=20,
            category='middle',
            relegation_num=3,
            promotion_num=3)

In [6]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(57, 65)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i+40], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L3 = League(name="EFL1", 
            teams=league_team,
            num=20,
            category='middle',
            relegation_num=3,
            promotion_num=3)

In [7]:
league_team = []

for i in range(20):
    min_rate = np.random.randint(55, 63)
    max_rate = min_rate + 15
    players = random_create_players(27, 3, min_rate, max_rate, df_name_list)
    formation = random_create_formation()
    A = Team(name=df_place[i+60], formation=formation)

    A.set_all_players(players)
    A.set_starting_players()
    A.formation.cal_team_rate()
    
    league_team.append(A)

L4 = League(name="EFL2", 
            teams=league_team,
            num=20,
            category='lowest',
            relegation_num=0,
            promotion_num=3)

In [8]:
England = ProSoccerLeague(name="england", leagues=[L1, L2, L3, L4])
for year in range(1990, 2000):
    print(year)
    England.play_1competition(f"FA杯_{year}", year, "カップ戦")
    England.play_1season(year)

1990
1991
1992
1993
1994
1995
1996
1997
1998
1999

In [48]:
league_num = 1

year = 1997
league_name = f"{England.leagues[league_num].name}_{year}"


print([t.name for t in England.leagues[league_num].teams])

b = England.leagues[league_num].champion
pd.DataFrame(b.values(), index=b.keys(), columns=["team"])

England.leagues[league_num].team_result[league_name]

['Derby', 'Nottingham', 'Newcastle', 'Greenock', 'Montevideo', 'Vienna', 'Zürich', 'Kilmarnock', 'Gentilly', 'Kristiania', 'Aberdeen', 'Prague', 'Sunderland', 'Dundee', 'Liverpool', 'Duisburg', 'Bristol', 'Portsmouth', 'Arnhem', 'Stuttgart']

                            team
championship_1990        Cardiff
championship_1991      Liverpool
championship_1992  Wolverhampton
championship_1993       Richmond
championship_1994        Cardiff
championship_1995      Liverpool
championship_1996        Cardiff
championship_1997       Richmond
championship_1998  Wolverhampton
championship_1999        Cardiff

               win  lose  row  得点  失点  得失点差  Points   順位          リーグ名
Richmond        28     2    8  92  26    66      92   1位  championship
Liverpool       23     8    7  92  46    46      76   2位  championship
Sunderland      22     9    7  73  40    33      73   3位  championship
Budapest        21     7   10  89  55    34      73   4位  championship
Derby           21     9    8  74  58    16      71   5位  championship
Duisburg        18    13    7  64  53    11      61   6位  championship
Newcastle       17    12    9  63  47    16      60   7位  championship
Greenock        17    13    8  66  58     8      59   8位  championship
Kilmarnock      16    14    8  60  55     5      56   9位  championship
Gentilly        16    16    6  51  55    -4      54  10位  championship
Vienna          13    13   12  58  61    -3      51  11位  championship
Zwolle          12    12   14  47  52    -5      50  12位  championship
Nottingham      11    16   11  48  68   -20      44  13位  championship
Zürich          11    18    9  61  72   -11      42  14位  championship
Kristiania      11    18    9  59  71   -12      42  15位  championship
Montevideo      10    20    8  63  83   -20      38  16位  championship
Middlesbrough    8    25    5  43  85   -42      29  17位  championship
Luxembourg       7    23    8  45  91   -46      29  18位  championship
Southampton      7    23    8  40  78   -38      29  19位  championship
Dublin           7    25    6  47  81   -34      27  20位  championship

In [50]:
team_num = 14

print(England.leagues[league_num].teams[team_num].name)
b = England.leagues[league_num].teams[team_num].competition_result
pd.DataFrame(b.values(), index=b.keys(), columns=["ラウンド"])
England.leagues[league_num].teams[team_num].result

Liverpool

          ラウンド
FA杯_1990   4回戦
FA杯_1991   2回戦
FA杯_1992   1回戦
FA杯_1993   3回戦
FA杯_1994   3回戦
FA杯_1995  ベスト4
FA杯_1996   2回戦
FA杯_1997  ベスト8
FA杯_1998  ベスト8
FA杯_1999   4回戦

                  win lose row   得点   失点 得失点差 Points   順位          リーグ名
premia_1990         4   29   5   31  101  -70     17  19位        premia
championship_1991  29    4   5  106   46   60     92   1位  championship
premia_1992         2   30   6   24   90  -66     12  20位        premia
championship_1993  28    3   7   93   38   55     91   2位  championship
premia_1994         7   28   3   35  101  -66     24  18位        premia
championship_1995  30    4   4   96   40   56     94   1位  championship
premia_1996         4   31   3   33  101  -68     15  19位        premia
championship_1997  23    8   7   92   46   46     76   2位  championship
premia_1998        10   24   4   42   80  -38     34  17位        premia
premia_1999         3   29   6   33   99  -66     15  18位        premia

In [51]:
England.leagues[league_num].player_result[league_name].sort_values("goal", ascending=False).head(20)
England.leagues[league_num].team_result[league_name]

            名前 ポジション           リーグ    年度            チーム 試合数 goal assist   分類
110    Nahshon    ST  championship  1997       Budapest  38   38      8  リーグ
161       Bari    ST  championship  1997       Richmond  38   34      3  リーグ
140     Trelyn    ST  championship  1997     Sunderland  38   31      6  リーグ
30      Sylvia    ST  championship  1997       Greenock  38   27      4  リーグ
50     Chastin    ST  championship  1997         Vienna  38   26      4  リーグ
150    Beckhem    ST  championship  1997      Liverpool  38   23      6  リーグ
152   Benancio    RM  championship  1997      Liverpool  38   23      9  リーグ
20          Rj    ST  championship  1997      Newcastle  38   20      6  リーグ
61       Dawit    ST  championship  1997       Duisburg  38   19      4  リーグ
71       Edsel    ST  championship  1997         Zürich  38   18      0  リーグ
180       Trey    ST  championship  1997     Kristiania  38   17      2  リーグ
121  Nickalous    ST  championship  1997  Middlesbrough  38   17      4  リーグ
170    Rennick    ST  championship  1997         Dublin  38   17      2  リーグ
1        Deane    ST  championship  1997          Derby  38   17      3  リーグ
40    Torrance    ST  championship  1997     Montevideo  38   16      8  リーグ
131  Nickalous    ST  championship  1997     Luxembourg  38   15      1  リーグ
182       Todd    RM  championship  1997     Kristiania  38   15      9  リーグ
5         Chay    CM  championship  1997          Derby  38   15      9  リーグ
112      Edsel    RM  championship  1997       Budapest  38   15     11  リーグ
191        Coy    ST  championship  1997    Southampton  38   14      2  リーグ

               win  lose  row  得点  失点  得失点差  Points   順位          リーグ名
Richmond        28     2    8  92  26    66      92   1位  championship
Liverpool       23     8    7  92  46    46      76   2位  championship
Sunderland      22     9    7  73  40    33      73   3位  championship
Budapest        21     7   10  89  55    34      73   4位  championship
Derby           21     9    8  74  58    16      71   5位  championship
Duisburg        18    13    7  64  53    11      61   6位  championship
Newcastle       17    12    9  63  47    16      60   7位  championship
Greenock        17    13    8  66  58     8      59   8位  championship
Kilmarnock      16    14    8  60  55     5      56   9位  championship
Gentilly        16    16    6  51  55    -4      54  10位  championship
Vienna          13    13   12  58  61    -3      51  11位  championship
Zwolle          12    12   14  47  52    -5      50  12位  championship
Nottingham      11    16   11  48  68   -20      44  13位  championship
Zürich          11    18    9  61  72   -11      42  14位  championship
Kristiania      11    18    9  59  71   -12      42  15位  championship
Montevideo      10    20    8  63  83   -20      38  16位  championship
Middlesbrough    8    25    5  43  85   -42      29  17位  championship
Luxembourg       7    23    8  45  91   -46      29  18位  championship
Southampton      7    23    8  40  78   -38      29  19位  championship
Dublin           7    25    6  47  81   -34      27  20位  championship

In [34]:
for p in England.leagues[league_num].teams[team_num].affilation_players:
    if p.partification_position=="ST":
        break
print(p.name, p.main_position, p.partification_position)
df = pd.DataFrame(p.result.values(), index=p.result.keys())

df_league = df[df["分類"]=="リーグ"]
df_league.sort_values("年度")

Darl ST ST

           goal  assist  試合数    年度   分類    名前   リーグ           チーム ポジション
EFL1_1990    22       1   38  1990  リーグ  Darl  EFL1  Viña del Mar    ST
EFL1_1991    17       0   38  1991  リーグ  Darl  EFL1  Viña del Mar    ST
EFL2_1992    25       3   38  1992  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1993    28       1   38  1993  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1994    21       3   38  1994  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1995    25       5   38  1995  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1996    28       3   38  1996  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1997    28       5   38  1997  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1998    21       0   38  1998  リーグ  Darl  EFL2  Viña del Mar    ST
EFL2_1999    22       0   38  1999  リーグ  Darl  EFL2  Viña del Mar    ST

In [52]:
England.leagues[league_num].teams[team_num].formation.print_formation()

Beckhem   Rate: 83 ( ST )
-------------------------
  PAC  63   DRI  65
  SHO  85   DEF  48
  PAS  62   PHY  65

Kirby   Rate: 70 ( LM )
-------------------------
  PAC  77   DRI  77
  SHO  63   DEF  65
  PAS  62   PHY  73

Benancio   Rate: 70 ( RM )
-------------------------
  PAC  70   DRI  91
  SHO  52   DEF  54
  PAS  67   PHY  65

Damion   Rate: 72 ( CAM )
-------------------------
  PAC  72   DRI  68
  SHO  58   DEF  65
  PAS  81   PHY  52

Charle   Rate: 74 ( CDM )
-------------------------
  PAC  81   DRI  77
  SHO  67   DEF  73
  PAS  63   PHY  77

Matthan   Rate: 72 ( CDM )
-------------------------
  PAC  85   DRI  88
  SHO  44   DEF  70
  PAS  67   PHY  65

Nery   Rate: 76 ( LB )
-------------------------
  PAC  70   DRI  97
  SHO  47   DEF  68
  PAS  60   PHY  74

Arrow   Rate: 83 ( CB )
-------------------------
  PAC  68   DRI  55
  SHO  65   DEF  82
  PAS  58   PHY  81

Richardson   Rate: 78 ( CB )
-------------------------
  PAC  61   DRI  60
  SHO  61   DEF  76
  PAS  73   PHY  83

Coy   Rate: 72 ( RB )
-------------------------
  PAC  75   DRI  75
  SHO  42   DEF  62
  PAS  67   PHY  59

Kendrell   Rate: 79 ( GK )
-------------------------
  DIV  78   REF  81
  HAN  73   SPE  79
  KIC  62   POS  76

In [47]:
England.competition_result["FA杯_1995"].tail(7)

,チームA,チームB,勝利,スコア,ラウンド
Stoke-on-Trent-Bangor,Stoke-on-Trent(premia),Bangor(premia),Stoke-on-Trent,2-2(pk:5-4),準々決勝
Edinburgh-Manchester,Edinburgh(premia),Manchester(premia),Manchester,2-5,準々決勝
Shrewsbury-Sheffield,Shrewsbury(premia),Sheffield(premia),Shrewsbury,4-2,準々決勝
Liverpool-Sunderland,Liverpool(championship),Sunderland(championship),Liverpool,3-2,準々決勝
Stoke-on-Trent-Manchester,Stoke-on-Trent(premia),Manchester(premia),Stoke-on-Trent,1-1(pk:4-2),準決勝
Shrewsbury-Liverpool,Shrewsbury(premia),Liverpool(championship),Shrewsbury,1-0,準決勝
Stoke-on-Trent-Shrewsbury,Stoke-on-Trent(premia),Shrewsbury(premia),Stoke-on-Trent,1-1(pk:6-5),決勝